
@font-face {
  src: url(CursedTimerUlil-Aznm.ttf);
  font-family: timer;
}

body {
  margin: 0;
  background-color: #1B244A;
  position: relative;
  text-align: center;
}
.container{
  display: flex;
  justify-content: space-around;
}
h3 {
  color: white;
  text-align: center;
  font-family: verdana;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
}
span {
  width: 155px;
  height: 120px;
  left: 337px;
  top: 125px;
font-family: timer;
font-style: normal;
font-weight: 400;
font-size: 90px;
text-align: center;
color: #F94F6D;
background-color: #080001;
background-size: cover;
border:2px solid transparent;
border-radius: 5px;
margin-left: 14px;
margin-right: 36px;
margin-top: 34px;
padding: 27px 27px;
}
button {
  background-color: transparent;
  margin-top: 10px;
  border:2px solid #9AABD8;
  padding: 10px 16px;
  font-weight:bold;
  cursor: pointer;
  border-radius: 5px;
  color: #9AABD8;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  left: 337px;
  top: 271px;
  margin-top: 54px;
  font-family: timer;
}
